@using Sandbox.UI;
@using Sandbox;
@using Sandbox.Network;

<root class="row @RowClass" onclick=@OpenServerModal>

	<div class="title">@Server.Name</div>
	@if ( MapPackage is not null || !string.IsNullOrEmpty( Server.Map ) )
	{
		<div class="map" onclick=@OpenMapInfo>
			@if ( string.IsNullOrEmpty( MapPackage?.Thumb ) )
	        {
	            <i>map</i>
	        }
	        else
			{
	            <img src="@MapPackage.Thumb" />
			}

	        <label>@(MapPackage?.Title ?? Server.Map)</label>
		</div>
	}
	<div class="members">
		<div class="current">@Server.Members</div>
		<div class="sep">/</div>
		<div class="maxmembers">@Server.MaxMembers</div>
	</div>

</root>

@code
{
    public LobbyInformation Server { get; set; }

    Package MapPackage;

    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );

        if ( firstTime )
        {
            GetThumbnails();
        }
    }

    void OpenServerModal()
    {
        ModalSystem.Instance.Server( Server );
    }

    void OpenMapInfo()
    {
        if ( MapPackage is null ) return;

        Game.Overlay.ShowPackageModal( MapPackage.FullIdent );
    }

    async void GetThumbnails()
    {
        if ( Server.Map.Contains( "." ) && !Server.Map.Contains( ".vmap" ) )
        {
			var mapPackage = await Package.FetchAsync( Server.Map, true );
			if ( mapPackage?.Public ?? false )
			{
				MapPackage = mapPackage;
                StateHasChanged();
			}
		}
	}

	protected override int BuildHash() => System.HashCode.Combine( MapPackage?.Thumb, Server.Members );

	string RowClass => Server.IsFull ? "full" : Server.Members == 0 ? "empty" : "";
}
